{% extends "base.html" %}
<!--
    Copyright © 2011 Kalamazoo College Computer Science Club
    <kzoo-cs-board@googlegroups.com>

    This file is part of LitHub.

    LitHub is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    LitHub is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with LitHub.  If not, see <http://www.gnu.org/licenses/>.
-->
{% block title %}Delete Account{% endblock %}
{% block nav_profile %}selected{% endblock %}
{% block content %}
<h2>Delete your account</h2>
<p>We're sad to see you go. To confirm that you really want to delete your account, please enter your password in the form below.</p>
<p>If you delete your account, <b>all</b> the information we have about you, including your name, email address and a list of books you put on sale will be <b>permanently deleted</b>. Make sure you know what you are doing before you enter your password below.</p>
<form action="" method="post">
{% csrf_token %}
<table>
    {{form}}
    <tr><td></td><td><input type="submit" value="Delete my account"/></td></tr>
</table>
</form>
{% endblock %}
