{% extends "base.html" %}
<!--
    Copyright © 2010, 2011 Kalamazoo College Computer Science Club
    <kzoo-cs-board@googlegroups.com>

    This file is part of LitHub.

    LitHub is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    LitHub is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with LitHub.  If not, see <http://www.gnu.org/licenses/>.
-->
{% block nav_profile %}selected{% endblock %}
{% block title %}Login{% endblock %}
{% block content %}
{% if not user.is_authenticated %}
<table>
    <tr><td width="200px"></td><td><a href="{% url fbconnect.views.redirect_to_fb %}" style="border:0;"><img src="{{STATIC_URL}}images/loginfb.png" alt="Login using facebook"/></a>
  <br/><span style="font-size:12px;">No registration required to login using facebook. <a href="{% url fbconnect_privacy %}">Privacy policy</a>.</span></p>
  </td></tr>
  <form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <tr><td></td><td><input type="submit" value="Login" />
            <input type="hidden" name="next" value="{{ next|escape }}" /><a style="font-size:12px;" href="{% url password_reset %}">Forgot your password?</a></td></tr>
  </form>
  <tr><td></td><td style="padding-top:20px;">Don't have an account? <a href="{% url registration_register %}">Sign up</a> for one now!</td></tr>
  </table>
{% else %}
<p>You are already logged in as {{user.username}}</p>
{% endif %}
{% endblock %}
