{% extends "base.html" %}
<!--
    Copyright © 2010, 2011 Kalamazoo College Computer Science Club
    <kzoo-cs-board@googlegroups.com>

    This file is part of LitHub.

    LitHub is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    LitHub is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with LitHub.  If not, see <http://www.gnu.org/licenses/>.
-->
{% block nav_profile %}selected{% endblock %}
{% block title %}Login{% endblock %}
{% block content %}
{% if not user.is_authenticated %}
  <div id="form">
  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="login" />
    <input type="hidden" name="next" value="{{ next|escape }}" />
  </form>
  </div>
  <p>You can also <a href="{% url fbconnect.views.redirect_to_fb %}">login using facebook</a>. (<a href="{% url fbconnect_privacy %}">Privacy policy</a>)</p>
  <p>Don't have an account? <a href="{% url registration_register %}">Sign up</a> for one now!</p>
{% else %}
<p>You are already logged in as {{user.username}}</p>
{% endif %}
{% endblock %}
