<!DOCTYPE html>
<!--
    Copyright 2010, 2011 Kalamazoo College Computer Science Club
    <kzoo-cs-board@googlegroups.com>

    This file is part of LitHub.

    LitHub is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    LitHub is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with LitHub.  If not, see <http://www.gnu.org/licenses/>.
-->
<html>
    <head>
        <title>Server Error 500 &raquo; Kzoo LitHub</title>
        <link rel="icon" href="/favicon.ico"/>
        <style type="text/css">
            html, body
            {
                font-family:'Verdana', sans-serif;
                text-align:center;
            }
            div#content
            {
                width:800px;
                text-align:left;
                margin:0 auto;
                padding-top:50px;
            }
        </style>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-25703286-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </head>
    <body>
        <div id="content">
            <h1 style="color:#ff7200;">500: Something went wrong</h1>
            <p>Oops. There was an error. It <b>really should not have happened.</b> Please tell us how you got to this page and we'll try to make sure it doesn't happen again. Email us at <a href="mailto:Kzoo.LitHub@gmail.com">Kzoo.LitHub@gmail.com</a>.</p>
            <p>Would you like to go back to our <a href="/">home page</a>?</p>
        </div>
    </body>
</html>
