{% extends "base.html" %}
<!--
    Copyright © 2011 Kalamazoo College Computer Science Club
    <kzoo-cs-board@googlegroups.com>

    This file is part of LitHub.

    LitHub is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    LitHub is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with LitHub.  If not, see <http://www.gnu.org/licenses/>.
-->
{% block nav_contact %}selected{% endblock %}
{% block title %}Contact us{% endblock %}
{% block content %}
<div id="onecol_main">
<h2>Contact us</h2>
<p>We would love to hear your comments, feedback and suggestions! </p>

<p>Please write to us at <a href="mailto:kzoo.lithub@gmail.com">kzoo.lithub@gmail.com</a> or fill out the form below.</p>
<p>Thank you!</p>
<form action="" method="post">
<table class="contactform">
{% csrf_token %}
<tr><td><label for="id_name">Name</label></td><td><input id="id_name" type="text" name="name" maxlength="30" placeholder="Your name" style="width: 100%; max-width: 300px"/></td></tr>
<tr><td><label for="id_subject">Subject</label></td><td><input id="id_subject" type="text" name="subject" maxlength="100" placeholder="Subject" style="width: 100%; max-width: 500px"/></td></tr>
<tr><td><label for="id_comment">Comment</label></td><td><textarea id="id_comment" rows="10" cols="40" name="comment" placeholder="Please enter your comments here..." style="width: 100%; max-width: 500px;"></textarea></td></tr>
<tr><td></td><td style="font-size:0.8em;">If you would like us to get back to you, please leave your email address in the comments section.</td></tr>
<tr><td></td><td><input type="submit" value="Send feedback"/></td></tr>
</table>
</form>
</div>
{% endblock %}
