{% extends "base.html" %}
<!--
    Copyright © 2010, 2011 Kalamazoo College Computer Science Club
    <kzoo-cs-board@googlegroups.com>

    This file is part of LitHub.

    LitHub is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    LitHub is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with LitHub.  If not, see <http://www.gnu.org/licenses/>.
-->
{% block nav_profile %}selected{% endblock %}
{% block title %}My Account{% endblock %}
{% block content %}
<div id="twocol_main">
<p>Welcome, <b>{{user.username}}</b>!</p>
<h2 class="underline">Your subscriptions</h2>
<table class="booklist">
    {% for book in request.user.subscriptions.all %}
    <tr>
        <td><a href="{% url 'bookswap.views.book_details' book.id %}">{{book.title}}</a></td>
        <td>{{book.author}}</td>
    </tr>
    {% endfor %}
</table>
<h2 class="underline">Books you've listed</h2>
<table class="booklist">
    {% for copy in copies %}
    <tr>
        <td><a href="{% url 'bookswap.views.book_details' copy.book.id %}"><i>{{copy.book.title}}</i></a> by <i>{{copy.book.author}}</i>.<br/> <span class="copyinfo">{{copy.condition}}, ${{copy.price|floatformat:2}}</span></td>
        <td class="actions">{% if fb %}<a class="imagelink" href="{% url 'bookswap.views.fb_og_publish' copy.id %}" title="Post an activity to Facebook telling your friends that you've listed on Kzoo LitHub. You can control your Privacy Settings on Facebook by clicking Account Settings &raquo; Apps."><img src="{{ STATIC_URL }}images/f_logo_small.png" alt="f"/></a> {% endif %}<a href="{% url 'bookswap.views.mark_sold' copy.id %}">Hide</a> <a href="{% url 'bookswap.views.edit_copy' copy.id %}">Edit</a></td>
    </tr>
    {% endfor %}
</table>
</div>
<div id="twocol_side">
<h3 class="underline">Manage your account:</h3>
<ul id="account_sidelinks">
    <li><a href="{% url 'password_change' %}">Change your password</a></li>
    {% if not fb %}
    <li><a href="{% url 'fbconnect.views.assoc_with_curr_user_redir' %}">Associate LitHub and facebook accounts</a></li>
    {% else %}
    <li><a href="{% url 'bookswap.views.dissoc_fb' %}">Dissociate LitHub and facebook accounts</a></li>
    {% endif %}
    <li><a href="{% url 'bookswap.views.delete_account' %}">Delete your account</a></li>
</ul>
</div>
{% endblock %}
