/*
    Copyright © 2011 Kalamazoo College Computer Science Club
    <kzoo-cs-board@googlegroups.com>

    This file is part of LitHub.

    LitHub is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    LitHub is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with LitHub.  If not, see <http://www.gnu.org/licenses/>.
*/

/* Some code below is adapted from Eric Meyer's "Reset CSS"
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body
{
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

#content a:link, #content a:visited
{
    color:#ff7200;
}
#content a:hover
{
    text-shadow: 0 0 0.1em #ff7200;
}

html, body, input, button
{
    font-family: 'PT Sans', arial, sans-serif;
    font-size: 15px;
    color: #000;
    line-height: 130%;
}
h1, h2, h3, h4, th
{
    font-family: 'Gentium Book Basic', serif;
    margin-top: 0.5em;
}
h1 { font-size: 2em; } 
h2 { font-size: 1.7em; } 
h3 { font-size: 1.4em; } 
h4, th { font-size: 1.2em; } 
b { font-weight: bold; }

::selection { background: #333; color: #ff7200; }
::-moz-selection { background: #333; color: #ff7200; }
::-webkit-selection { background: #333; color: #ff7200; }

::-webkit-input-placeholder {color: #ccc;}
:-moz-placeholder {color: #ccc;}
:-ms-input-placeholder {color: #ccc;}


/* Nav bar */
#navbar
{
    border-top: 6px solid #ff7200;
    background-color: #333;
}
ul.navlinks
{
    font-family: 'Gentium Book Basic', serif;
}
ul.navlinks li a:link, ul.navlinks li a:visited
{
    color: #ccc; 
    text-decoration: none;
}
ul.navlinks li a:hover
{
    color: #ff7200; 
    text-shadow: 0 0 0.2em #ff7200;
}

ul.navlinks li.selected a
{
    color: #ff7200; 
}

/* Search box */
#searchbox
{
    background:#ffbb66;
}
#searchbox input[type=text]
{
    border: 0;
    background: #fff;
    height:18px;
    padding: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}


/* Large display */
@media all and (min-width: 760px) 
{
    html, body
    {
        min-width: 760px;
    }

    .centerwrapper
    {
        width: 100%;
        max-width: 960px;
        min-width: 760px;
        margin:0 auto;
    }

    /* Nav Bar */
    #navbar
    {
        height: 56px;
    }
    #kzoolithub 
    {
        margin-left:1.041666667%; /* 10 / 960 */
        float:left;
        margin-top:7px;
    }
    div.navlinks
    {
        width: 64.583333333%; /* 620 / 960 */ 
        margin-left: 34.375%; /* 330 / 960 */
    }
    ul.navlinks
    {
        display: table;
        height: 56px;
        width: 100%;
        line-height: 56px;
        font-size:1.2em;
        letter-spacing:1px;
    }
    ul.navlinks li
    {
        display:table-cell;
        padding: 0 10px; 
    }

    /* Search box */
    #searchbox
    {
        height:36px;
        clear: both;
        line-height: 36px;
    }
    #searchbox p
    {
        display: inline-block;
    }
    #textsearch
    {
        margin-left: 1.041666667%; /* 10 / 960 */
        width: 64.583333333%; /* 620 / 960 */
        height: 36px;
        float:left;
    }
    #isbnsearch
    {
        margin-left: 67.708333333% ; /* 650 / 960 */
        width: 31.25%; /* 300 / 960 */
        height: 36px;
    }
    #searchbox input[type=text]
    {
        width: 170px;
    }
    #searchbox input[type=image]
    {
        vertical-align: middle;
        margin-top: -3px;
    }

    /* Content */
    #content
    {
        width:100%;
        max-width: 960px;
        min-width: 760px;
        padding-top: 30px;
        margin:0 auto;
        clear:both;
    }
    #content p, #content ul
    {
        padding: 5px 0;
    }

    #twocol_main
    {
        width: 64.583333333%; /* 620 / 960 */
        margin-left:1.041666667%; /* 10 / 960 */
        float:left;
        border-top:0px solid #ff7200; 
    }
    #twocol_side
    {
        width:31.25%;
        margin-left:67.708333333%; /* 650 / 960 */
    }
    #twocol_side .sidebar_item
    {
        border-top:2px solid #ff7200;
    }
}

/* Small display */
@media all and (max-width: 759px) 
{
    html, body
    {
        min-width: 300px;
    }

    .centerwrapper
    {
        width: 100%;
        min-width: 300px;
        margin:0 auto;
    }

    /* Nav Bar */
    #navbar
    {
        height: auto;
    }
    #kzoolithub 
    {
        margin-left:1.041666667%; /* 10 / 960 */
        margin-top:7px;
    }
    div.navlinks
    {
        width: auto;
        margin-left:1.041666667%; /* 10 / 960 */
    }
    ul.navlinks
    {
        display: table;
        width: 100%;
        padding: 5px 0;
        font-size:1em;
        letter-spacing:1px;
    }
    ul.navlinks li
    {
        display: table-cell;
        padding-right: 5px; 
    }

    /* Search box */
    #searchbox
    {
        clear: both;
    }
    #searchbox label
    {
        font-size: 0.9em;
    }
    #textsearch, #isbnsearch
    {
        margin-left: 1.041666667%; /* 10 / 960 */
    }
    @media all and (max-width: 474px)
    {
        #searchbox p
        {
            display: block;
            padding: 5px 0; 
        }
        #searchbox label
        {
            float: left;
            width: 60px;
        }
    }
    @media all and (min-width: 475px)
    {
        #searchbox p
        {
            display: inline-block;
        }
        #textsearch, #isbnsearch
        {
            padding: 5px 0; 
        }
    }
    #searchbox input[type=text]
    {
        width: 170px;
    }
    #searchbox input[type=image]
    {
        vertical-align: middle;
        margin-top: -3px;
    }

    /* Content */
    #content
    {
        width:100%;
        min-width: 300px;
        padding-top: 30px;
        margin:0 auto;
        clear:both;
    }
    #content p, #content ul
    {
        padding: 5px 0;
    }

    #twocol_main
    {
        margin: 0 1.041666667%; /* 10 / 960 */
        border-bottom: 2px #ff7200 solid;
        padding-bottom: 10px;
    }
    #twocol_side
    {
        margin: 0 1.041666667%; /* 10 / 960 */
        border-top: 2px #333 solid;
        padding-top: 10px; 
    }
    #twocol_side .sidebar_item
    {
        border-top:2px solid #ff7200;
    }
}

/* Form */
div#form label
{
    float:left;
    display:block;
    width:200px;
}
div#form input
{
}
div#form input[type="submit"]
{
    margin-left:200px;
}
div#form ul.errorlist
{
    color:red;
    list-style:none;
    padding:0;
    margin-left:200px;
    font-size:14px;
}
div#form ul.errorlist li
{
    padding:0;
}
span.bookinfo
{
    font-size:11px;
}
span.isbn
{
    font-size:13px;
}

/* Messages */
ul.messages
{
    list-style:none outside none;
    font-size:12px;
    padding:0;
    margin:0;
}
ul.messages li
{
    padding:5px;
    margin-bottom:3px;
}
ul.messages li.success
{
    background-color:#7f7;
}
ul.messages li.error
{
    background-color:#f77;
}
ul.messages li.info
{
    background-color:#7cf;
}

/* Results list and details pages */
.bookfilters
{
	text-align: center;
	margin-bottom: 10px;
}
.bookfilters button
{
	background: transparent;
	border: 0;
	padding: 0;
	color: #ff7200;
	text-decoration: underline;
	cursor: pointer;
}
.bookfilters button:hover
{
    text-shadow: 0 0 0.1em #ff7200;
}
.bookfilters button.selected
{
	text-decoration: none;
	font-weight: bold;
}
.bookgrid
{
    text-align:center;
}
.bookgrid .bookitem
{
	width: 200px;
	display: inline-block;
    padding: 15px 10px;
}
div#content .bookgrid div.bookitem a
{
    color:inherit;
    border-bottom:0;
    text-decoration:none;
}
.bookitem img
{
    max-width:150px;
    max-height:250px;
}

div.bookthumbnail
{
    float:left;
    padding:0 20px;
    max-width:150px;
    overflow-x:hidden;
}
div.bookthumbnail img
{
    border:0;
}
div.bookinfo
{
    margin-left:190px;
    line-height:2em;
}
div.bookinfo h2
{
    color:#ff7200;
    padding:0;
    margin:0;
    font-size:36px;
    line-height:1.0em;
}

/* Account sidebar */
ul#account_sidelinks
{
    list-style:none outside none;
    margin:0;
    padding:0;
    font-size:14px;
}
ul#account_sidelinks li
{
    padding: 7px 0 7px 5px;
    border-left:2px solid transparent;
}
ul#account_sidelinks li:hover
{
    border-left:2px solid #ff7200;
}
ul#account_sidelinks li a, ul#account_sidelinks li a:hover 
{
    border-bottom:0;
}

/* Home page blurb */
div.blurb
{
    font-family: 'Gentium Book Basic', 'Times New Roman', serif;
    font-size:1.1em;
}
div.blurb p
{
    margin:0;
    padding:0;
}
div.blurb p.cite
{
    text-align:right;
}
div.blurb p.quote:first-letter
{
    font-size:2em;
}

/* Home page "features" */
ul.features
{
    list-style:square inside none;
    margin:0;
    padding-left:0px;
    line-height:1.3em;
}
ul.features li
{
    margin-bottom:1em;
    color:#000;
}
ul.features li span.new
{
	font-weight: bold;
    font-size: 0.8em;
    color: #ff7200;
}

/* TABLES NEED TO BE FIXED. */
table tr td.actions
{
    min-width:150px;
}
table.copylist
{
    border-collapse:collapse;
}
table.copylist tr td
{
    border-top: 1px solid #ff7200;
    border-bottom: 1px solid #ff7200;
}
table.copylist tr td
{
    padding:15px 5px;
    vertical-align: middle;
}
table.copylist tr td.price
{
    color:#ff7200;
    font-size:32px;
    line-height:1em;
    max-width:120px;
}
table.copylist tr td.copycomments
{
    min-width:400px;
}
table.copylist tr td.requestcopy
{
    min-width:150px;
}
table.copylist tr td.price p
{
    margin:0;
    font-weight:bold;
    padding:0;
}
table.copylist tr td.price p.condition
{
    font-size:14px;
    margin-top:-0.5em;
}


table.contactseller tr td
{
    padding:10px 5px;
    vertical-align: middle;
}
div.pagination table
{
    margin:0 auto;
}
div.pagination table tr td
{
    text-align:center;
    font-size:.8em;
}
table.contactform tr td
{
	vertical-align: top;
	padding-right: 20px;
}
