/*
    Copyright © 2011 Kalamazoo College Computer Science Club
    <kzoo-cs-board@googlegroups.com>

    This file is part of LitHub.

    LitHub is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    LitHub is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with LitHub.  If not, see <http://www.gnu.org/licenses/>.
*/

html, body, div { margin:0; padding:0; } /* Reset */
html, body /* Image background is in wrapper */
{
	background: #ff7200;
	height:100%;
}
img
{
	border:0;
}
a
{
	color:#ff7200;
	text-decoration:none;
}
html, body, h1, h2, h3, h4, input
{
	font-family: 'Droid Sans', arial, sans-serif;
}
#wrapper
{
	width:1000px;
	background: #ff7200 url('../images/bg.png') repeat-y scroll center top;
	min-height:100%;
	margin:0 auto;
}
#topbar
{
	z-index:100;
	position:fixed;
	width:960px;
	margin-left:20px; /* wrapper is 1000px wide. This centers topbar */
	top:0;
	clear:both;
}
#navbar a
{
	color:#fff;
}
#navbar ul li a:hover, #navbar ul li.selected a
{
	color:#ff7200;
}
#navbar ul li.selected a
{
	border-bottom:2px solid #ff7200;
}
#navbar
{
	background: url('../images/topbar.png') repeat-x;
	height:50px;
	color:#fff;
}
#kzoolithub 
{
	margin-left:30px;
	float:left;
	margin-top:7px;
}
div.navlinks
{
	text-align:right;
	height:50px;
}
ul.navlinks
{
	margin:0;
	padding:0;
	list-style: none outside none;
	font-size:17px;
	letter-spacing:1px;
	line-height:1em;
	text-align:right;
	padding-top:16px;
}
ul.navlinks li
{
	display:inline;
	margin-right:30px;
}
#searchbox
{
	height:70px;
	background:#ffbb66;
}
#searchbox .sform_field, #searchbox .sform_field_submit
{
	margin-left:20px;
	margin-right:0;
	padding:0;
	float:left;
	margin-top:10px;
	width:220px;
}
#searchbox .sform_field_submit
{
	margin-left:20px;
	width:70px;
}
#searchbox input[type=text]
{
	border:0;
	height:18px;
	width:210px;
}
#searchbox label
{
	font-size:13px;
	line-height:20px;
}
#fixedboxgradient
{
	height:20px;
	background:transparent url('../images/fixedboxgradient.png') left top repeat-x;
}
#content
{
	width:940px;
	margin:0 auto;
	clear:both;
	padding-top:150px;
}
#twocol_main
{
	width:700px;
	float:left;
	border-top:0px solid #ff7200; 
}
#twocol_side
{
	width:200px;
	margin-left:720px;
}
#twocol_side .sidebar_item
{
	border-top:2px solid #ff7200;
}

div#content a
{
	border-bottom:1px dashed #ff7200;
}
div#content a:hover
{
	border-bottom:1px solid #ff7200;
}
div#content a.imagelink, div#content a.imagelink:hover
{
	border:0;
}
div#form label
{
	float:left;
	display:block;
	width:200px;
}
div#form input
{
}
div#form input[type="submit"]
{
	margin-left:200px;
}
div#form ul.errorlist
{
	color:red;
	list-style:none;
	padding:0;
	margin-left:200px;
	font-size:14px;
}
div#form ul.errorlist li
{
	padding:0;
}
span.bookinfo
{
	font-size:11px;
}
span.isbn
{
	font-size:13px;
}

ul.messages
{
	list-style:none outside none;
	font-size:12px;
	padding:0;
	margin:0;
}
ul.messages li
{
	padding:5px;
	margin-bottom:3px;
}
ul.messages li.success
{
	background-color:#7f7;
}
ul.messages li.error
{
	background-color:#f77;
}
ul.messages li.info
{
	background-color:#7cf;
}
table.booklist tr td
{
	padding:7px 0;
}
table.copylist
{
	border-collapse:collapse;
}
table.copylist tr td
{
	border-top: 1px solid #ff7200;
	border-bottom: 1px solid #ff7200;
}
table.copylist tr td
{
	padding:15px 5px;
	vertical-align:center;
}
table.copylist tr td.price
{
	color:#ff7200;
	font-size:32px;
	line-height:1em;
	max-width:120px;
}
table.copylist tr td.copycomments
{
	min-width:400px;
}
div#content table.copylist tr td.requestcopy a, div#content table.copylist tr td.requestcopy a:hover
{
	font-weight:bold;
}
table.copylist tr td.price p
{
	margin:0;
	font-weight:bold;
	padding:0;
}
table.copylist tr td.price p.condition
{
	font-size:14px;
	margin-top:-0.5em;
}
ul#account_sidelinks
{
	list-style:none outside none;
	margin:0;
	padding:0;
	font-size:14px;
}
ul#account_sidelinks li
{
	padding: 7px 0 7px 5px;
	border-left:2px solid transparent;
	padding-left
}
ul#account_sidelinks li:hover
{
	border-left:2px solid #ff7200;
}
ul#account_sidelinks li a, ul#account_sidelinks li a:hover 
{
	border-bottom:0;
}
ul.features
{
	list-style:square inside none;
	margin:0;
	padding-left:0px;
	font-size:14px;
	line-height:1.5em;
}
ul.features li
{
	margin-bottom:1em;
	color:#000;
}
div.bookthumbnail
{
	float:left;
	padding:0 20px;
	max-width:150px;
	overflow-x:hidden;
}
div.bookthumbnail img
{
	border:0;
}
div.bookinfo
{
	margin-left:190px;
	line-height:2em;
}
div.bookinfo h2
{
	color:#ff7200;
	padding:0;
	margin:0;
	font-size:36px;
	line-height:1.0em;
}
