<!DOCTYPE html>
<!--
    Copyright 2010, 2011 Kalamazoo College Computer Science Club
    <kzoo-cs-board@googlegroups.com>

    This file is part of LitHub.

    LitHub is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    LitHub is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with LitHub.  If not, see <http://www.gnu.org/licenses/>.
-->
<html>
    <head{% block headprefix %}{% endblock %}>
        <title>{% block title %}{% endblock %} &raquo; Kzoo LitHub</title>
        <meta name="keywords" content="{% block metakeywords %}books, Kalamazoo, college, bookswap{% endblock %}"/>
        <meta name="description" content="{% block metadescription %}Kzoo LitHub: buy and sell books with Kalamazoo College students at fair prices{% endblock %}" />
        <meta name="viewport" content="width=device-width,initial-scale=1"/>
        <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700|Gentium+Book+Basic' rel='stylesheet' type='text/css'>
        <link href='{{STATIC_URL}}css/style.css' rel='stylesheet' type='text/css'>
        <link rel="icon" href="/favicon.ico"/>
        {% block headextra %}{% endblock %}
    </head>
    <body>
        <div id="topbar">
            <div id="navbar">
                <div class="centerwrapper">
                    <a href="{% url home %}"><img id="kzoolithub" src="{{STATIC_URL}}images/kzoolithub.png" alt="Kzoo LitHub" style="" /></a>
                    <div class="navlinks">
                        <ul class="navlinks">
                            <li class="{% block nav_allbooks %}{% endblock %}"><a href="{% url bookswap.views.all_books %}">Books</a></li>
                            <li class="{% block nav_sell %}{% endblock %}"><a href="{% url bookswap.views.sell_step_search %}">Sell</a></li>
                            <li class="{% block nav_contact %}{% endblock %}"><a href="{% url bookswap.views.contact_us %}">Contact</a></li>
                            <li class="{% block nav_profile %}{% endblock %}"><a href="{% url bookswap.views.my_account %}">Account</a></li>
                            {% if user.is_authenticated %}
                            <li><a href="{% url django.contrib.auth.views.logout %}">Logout</a></li>
                            {% else %}
                            <li><a href="{% url django.contrib.auth.views.login %}?next={{request.get_full_path|urlencode:""}}">Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div> <!-- end .centerwrapper -->
            </div> <!-- end navbar -->
            <div id="searchbox">
                <div class="centerwrapper">
                    <div id="textsearch">
                        <form action="{% url bookswap.views.search_books %}" method="get">
                        <p>
                        <label for="search_title">Title:</label>
                        <input type="text" id="search_title" name="title" placeholder="Title" {% if search_title%}value="{{search_title}}" {%endif%}x-webkit-speech/>
                        </p>
                        <p>
                        <label for="search_title">Author:</label>
                        <input type="text" id="search_author" name="author" placeholder="Author" {% if search_author%}value="{{search_author}}" {%endif%}x-webkit-speech/>
                        <input type="image" value="Search" src="{{STATIC_URL}}images/mag.png"/>
                        </p>
                        </form>
                    </div>
                    <div id="isbnsearch">
                        <form action="{% url bookswap.views.search_books %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" id="action" name="action" value="isbn_search"/>
                        <p>
                        <label for="search_isbn">ISBN:</label>
                        <input type="text" id="search_isbn" name="isbn" placeholder="ISBN" {% if search_isbn%}value="{{search_isbn}}" {%endif%}x-webkit-speech/>
                        <input type="image" value="Search" src="{{STATIC_URL}}images/mag.png"/>
                        </p>
                        </form>
                    </div>
                </div> <!-- end .centerwrapper -->
            </div><!-- end searchbox -->
        </div><!-- end topbar -->
        <div id="content">
            <div id="messages">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            </div><!-- end messages-->
            {% block content %}{% endblock %}
            <div style="clear:both;">&nbsp;</div><!-- Wrapper class needs to be streched down so that the background extend's to the page bottom -->
        </div><!-- end content -->
    </body>
</html>
