<!DOCTYPE html>
<!--
    Copyright 2010, 2011 Kalamazoo College Computer Science Club
    <kzoo-cs-board@googlegroups.com>

    This file is part of LitHub.

    LitHub is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    LitHub is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with LitHub.  If not, see <http://www.gnu.org/licenses/>.
-->
<html>
    <head>
        <title>{% block title %}{% endblock %} &raquo; Kzoo LitHub</title>
        <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
        <link href='{{STATIC_URL}}css/style.css' rel='stylesheet' type='text/css'>
        </style>
    </head>
    <body>
        <div id="wrapper">
            <div id="topbar">
                <div id="navbar">
                    <a href="{% url home %}"><img id="kzoolithub" src="{{STATIC_URL}}images/kzoolithub.png" alt="Kzoo LitHub" style="" /></a>
                    <div class="navlinks">
                        <ul class="navlinks">
                            <li class="{% block nav_availbooks %}{% endblock %}"><a href="{% url bookswap.views.all_books %}">Available books</a></li>
                            <li class="{% block nav_sell %}{% endblock %}"><a href="{% url bookswap.views.sell_step_search %}">Sell a book</a></li>
                            <li class="{% block nav_profile %}{% endblock %}"><a href="{% url bookswap.views.my_account %}">My account</a></li>
                            {% if user.is_authenticated %}
                            <li><a href="{% url django.contrib.auth.views.logout %}">Logout</a></li>
                            {% else %}
                            <li><a href="{% url django.contrib.auth.views.login %}">Login</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div> <!-- end navbar -->
                <div id="searchbox" style="clear:both;">
                    <div class="sform_field">
                        <label for="search_title">Title:</label><br/>
                        <input type="text" id="search_title" placeholder="Title" x-webkit-speech/>
                    </div>
                    <div class="sform_field">
                        <label for="search_title">Author:</label><br/>
                        <input type="text" id="search_author" placeholder="Author" x-webkit-speech/>
                    </div>
                    <div class="sform_field_submit">
                        <br/>
                        <input type="submit" value="Search"/>
                    </div>
                    <div class="sform_field">
                        <label for="search_isbn">ISBN:</label><br/>
                        <input type="text" id="search_isbn" placeholder="Title" x-webkit-speech/>
                    </div>
                    <div class="sform_field_submit">
                        <br/>
                        <input type="submit" id="search_isbn" value="Search"/>
                    </div>
                </div><!-- end searchbox -->
                <div id="fixedboxgradient"></div>
            </div><!-- end topbar -->
            <div id="content">
           	    <div id="messages">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                </div><!-- end messages-->
                {% block content %}{% endblock %}
                <div style="clear:both;">&nbsp;</div><!-- Wrapper class needs to be streched down so that the background extend's to the page bottom -->
            </div><!-- end content -->
        </div><!-- end wrapper -->
    </body>
</html>
