{% extends "base.html" %}
<!--
    Copyright © 2011 Kalamazoo College Computer Science Club
    <kzoo-cs-board@googlegroups.com>

    This file is part of LitHub.

    LitHub is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    LitHub is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with LitHub.  If not, see <http://www.gnu.org/licenses/>.
-->
{% block title %}Privacy Policy{% endblock %}
{% block nav_profile %}selected{% endblock %}
{% block content %}
<div id="onecol_main">
    <h2>Terms</h2>
    <p>Kzoo LitHub is a service that is powered by LitHub. Both Kzoo LitHub (the service) and LitHub (the software) are maintained by the Kalamazoo College Computer Science Club.</p>
    <p>Kzoo LitHub is provided WITHOUT ANY WARRANTY. The source code for LitHub is available under the GNU GPLv3.</p>
    <h2>Privacy</h2>
    <p>Kzoo LitHub uses cookies to keep track of log in status.</p>
    <p>Kzoo LitHub is a service provided without any warranty. However, we try to ensure that your privacy is respected and that your private data is not disclosed.</p>
    <p>Kzoo LitHub retains data about books that you have "unlisted" after they have been unlisted. However, all your data is deleted when you delete your account.</p>
    <p>Kzoo LitHub stores passwords only as <a href="http://en.wikipedia.org/wiki/Salt_(cryptography)">salted hashes</a>. Therefore, in the unlikely event that the Kzoo LitHub database is compromised, there is an additional layer of security securing your password.</p>
<h2>Facebook Login Privacy Policy</h2>
<p>Kzoo LitHub offers a Facebook Login feature that allows users to login to Kzoo LitHub with their Facebook accounts. The information that Kzoo LitHub gets from Facebook is described below.</p>
<ul class="features">
    <li>If you associate your Kzoo LitHub and Facebook accounts, we store your Facebook user id.</li>
    <li>Kzoo LitHub may also access and store your first and last name, your email address and your Facebook networks to verify your identity.</li>
    <li>Kzoo LitHub also requests permission to push Open Graph activities to Facebook. You may deny this setting while authorizing the Kzoo LitHub Facebook App. You may also change your settings directly on Facebook.</li>
</ul>
<p>Kzoo LitHub cannot and will not store your Facebook password. </p>
</div>
{% endblock %}
