{% extends "base.html" %}
<!--
    Copyright © 2010, 2011 Kalamazoo College Computer Science Club
    <kzoo-cs-board@googlegroups.com>

    This file is part of LitHub.

    LitHub is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    LitHub is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with LitHub.  If not, see <http://www.gnu.org/licenses/>.
-->
{% block nav_profile %}selected{% endblock %}
{% block title %}Change password{% endblock %}
{% block content %}
<div id="onecol_main">
    <h2>Change your password</h2>
{% if user.is_authenticated %}
<p>If you use facebook to log into Kzoo LitHub, <a href="{% url fbconnect.views.change_pass_redir %}">click here</a> to change your password.</p>
  <form action="" method="post">
    {% csrf_token %}
    <table class="generic_table pwdchangeform">
    {{ form }}
    <tr><td></td><td><input type="submit" value="Change Password" /></td></tr>
    </table>
    <input type="hidden" name="next" value="{% url bookswap.views.my_account %}" />
  </form>
{% else %}
<p>You are not logged in!</p>
{% endif %}
</div>
{% endblock %}
