{% extends "base.html" %}
<!--
    Copyright 2010, 2011 Kalamazoo College Computer Science Club
    <kzoo-cs-board@googlegroups.com>

    This file is part of LitHub.

    LitHub is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    LitHub is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with LitHub.  If not, see <http://www.gnu.org/licenses/>.
-->
{% block nav_availbooks %}selected{% endblock %}
{% block title %}{{book.title}}{% endblock %}
{% block content %}
<div class="bookthumbnail">
{% if book.thumbnail_url %}    
<img src="{{book.thumbnail_url}}" alt="{{book.title}}" />
{% endif %}
<br/>
<script type="text/javascript" src="http://books.google.com/books/previewlib.js"></script>
<script type="text/javascript">
GBS_insertPreviewButtonPopup('ISBN:{{book.isbn}}');
</script>
</div>
<div>
<div class="bookinfo">
<h2>{{book.title}}</h2>
<span>by <i>{{book.author}}</i></span></br/>
<span>Publisher: {{book.publisher}}{% if book.copyrightYear %} (&copy; {{book.copyrightYear}}) {% endif %}</span><br/>
<span>ISBN-13: {{book.isbn}}</span><br/>
<a class="imagelink" href="{% url bookswap.views.sell_existing book.id %}"><img src="{{STATIC_URL}}images/sellbook.png" alt="Sell this book"/></a>
</div>
<p style="clear:both;">Copies on sale:</p>
<table class="copylist">
{% for copy in copies %}
<tr>
    <td class="price"><p><sup>$</sup>{{copy.price|floatformat:2}}</p><p class="condition">{{copy.condition}}</p></td>
    <td class="copycomments">{% if copy.comments %}{{copy.comments}}{% else %}<i>(No comment provided)</i>{% endif %}</td>
    <td class="requestcopy">{% if copy.owner.id == request.user.id %}<a href="{% url bookswap.views.mark_sold copy.id %}">Mark sold</a> <a href="{% url bookswap.views.edit_copy copy.id %}">Edit</a>{% else %}<a href="{% url bookswap.views.view_profile copy.owner.username %}">Contact Seller &raquo; </a>{% endif %}</td> 
</tr>
{% endfor %}
</table>
{% endblock %}
