{% extends "base.html" %}
<!--
    Copyright © 2010, 2011 Kalamazoo College Computer Science Club
    <kzoo-cs-board@googlegroups.com>

    This file is part of LitHub.

    LitHub is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    LitHub is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with LitHub.  If not, see <http://www.gnu.org/licenses/>.
-->
{% block nav_home %}selected{% endblock %}
{% block title %}Home{% endblock %}
{% block content %}
<h2>Welcome!</h2>
<p>Hi! Welcome to the <i>Kzoo LitHub</i>. This website was created the <i>Kalamazoo College Computer Science Club.</i></p>
<h3>Why should you use LitHub?</h3>
<p>The LitHub website can help you save money. When compared to websites online and bookstores, LitHub helps to buy books for less and sell for more. Here's how:</p>
<p>If you bought a Calculus book for $100 and later sold it (without damaging it), you will probably get far less than $100 in return. This is because there are additional costs in buying and selling a book through a bookstore or website. First, the company needs to make money and keeps a portion of the total sales. Second, the book needs to be packaged and shipped. Since you probably intend to sell any book you buy, you will incur these costs whether it's the buyer or seller that takes the burden of these costs. As a result, you pay more than the book's "value" when you buy it and make less when you sell it.
<h3>How LitHub works</h3>
<p>If books are bought <b>and</b> sold by the people who actually use the books. In true free-market style, there are no extra fees or costs. You buy and sell at the same going rate for that book in that condition. This website essentially helps you network and find people willing to sell the books you want and buy the books you want to sell.</p>
<p>The Kzoo LitHub isn't guaranteed to be cheaper and doesn't guarantee that you will find a seller or buyer, since there are only a limited number of people who use this website. Comparing prices is always a good idea.</p>
<h3>About LitHub</h3>
<p>The <i>Kalamazoo College Computer Science Club</i> developed the source code for the Kzoo LitHub website. This is an open source project, licensed under the GNU GPLv3, which means you can modify and distribute the source code under the conditions of the license. Other colleges and communities are free to pick up the code from our <a href="http://github.com/umangv/LitHub/">GitHub repository</a> and use it to run a LitHub of their own.</p>

<p>The source code is Copyright &copy; 2010, 2011 Kalamazoo College Computer Science Club</p>
{% endblock %}
