{% extends "base.html" %}
<!--
    Copyright © 2010, 2011 Kalamazoo College Computer Science Club
    <kzoo-cs-board@googlegroups.com>

    This file is part of LitHub.

    LitHub is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    LitHub is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with LitHub.  If not, see <http://www.gnu.org/licenses/>.
-->
{% block title %}Buy and Sell Books{% endblock %}
{% block content %}
<div id="twocol_main" style="font-size:15px;">
<p><img src="{{ STATIC_URL}}images/mainpage.png" alt="Save money on books; Make money on books"/></p>
<h3>Why should you use LitHub?</h3>
<p>LitHub can help you save money! When compared to websites online and bookstores, LitHub helps buy books for less and sell them for more. Here's how:</p>
<p>If you buy a Calculus book for $100 and later sell it, you will probably get far less than $100 in return. This is because there are additional costs in buying and selling a book through a bookstore or website. First, the company needs to make money and keeps a portion of the total sales. Second, the book needs to be packaged and shipped. As a result, you pay more than the book's real "value" when you buy it and make less when you sell it.
<h3>How LitHub works</h3>
<p>If books are bought <u>and</u> sold by the people who actually use the books (true free-market style) there are no extra fees or costs. You buy and sell at the same going rate. LitHub essentially helps you network and find people willing to sell the books you want and buy the books you want to sell.</p>
<p>The Kzoo LitHub isn't guaranteed to be cheaper and doesn't guarantee that you will find a seller or buyer, since there are only a limited number of people who use this website. Comparing prices is always a good idea.</p>
<h3>About LitHub</h3>
<p>The <i>Kalamazoo College Computer Science Club</i> developed the source code for the Kzoo LitHub website. LitHub is an open source project, licensed under the <a href="http://www.gnu.org/copyleft/gpl.html">GNU GPLv3</a>, which means you can modify and distribute the source code under the conditions of the license. Other colleges and communities are free to pick up the code from our <a href="http://github.com/umangv/LitHub/">GitHub repository</a> and use it to run a LitHub of their own.</p>
<p>LitHub is Copyright &copy; 2010, 2011 Kalamazoo College Computer Science Club</p>
</div>
<div id="twocol_side">
    <h2>Features</h2>
    <ul class="features">
        <li>Facebook integration: one click login (no username or password); register in under 20 seconds!</li>
        <li>Google book preview: "look" at (and even inside) a book before you buy! (Available for many books)</li>
        <li>ISBN lookup: auto-populated book information based on the ISBN when you sell a book.</li>
        <li>HTML5 speech recognition on search forms (currently only on Google Chrome)</li>
        <li>Restricted to K college students</li>
    </ul>
    <br/>
    <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=178974338841655&amp;xfbml=1"></script><fb:like href="https://www.facebook.com/pages/Kalamazoo-College-Computer-Science-Club/226844833998586" send="true" layout="button_count" width="100" show_faces="true" action="like" font=""></fb:like>
</div>
{% endblock %}
