{% extends "base.html" %}
<!--
    Copyright © 2010, 2011 Kalamazoo College Computer Science Club
    <kzoo-cs-board@googlegroups.com>

    This file is part of LitHub.

    LitHub is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    LitHub is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with LitHub.  If not, see <http://www.gnu.org/licenses/>.
-->
{% block title %}Buy and Sell Books{% endblock %}
{% block content %}
<div id="twocol_main" style="font-size:15px;">
<p><img src="{{ STATIC_URL}}images/mainpage.png" alt="Save money on books; Make money on books"/></p>
<h3>Kzoo LitHub can help you save money</h3>
<p>Book stores can be expensive. Trading websites have shipping charges when you buy, fees and commissions when you sell. As a campus, we already have many of the book that we need for the next quarter. If we can buy and sell to each other, we can save a lot of money on charges, fees and commissions.</p>
<h3>How it works</h3>
<p>When you find a book that you want to buy on Kzoo LitHub, you can contact the seller and meet on-campus to trade the book. If the book you are looking for is not available, you can subscribe to the book to receive notifications when that book is available.</p>
<p>Since the buyer and seller meet in person, <b>there are no charges, fees or commissions</b> from Kzoo LitHub.</p>
<h3>About LitHub</h3>
<p>The <i>Kalamazoo College Computer Science Club</i> develops and maintains the Kzoo LitHub website. LitHub is an open source project, licensed under the <a href="http://www.gnu.org/copyleft/gpl.html">GNU GPLv3</a>. You can modify and distribute the source code under the conditions of the license. Other colleges and communities are free to download the code from <a href="http://github.com/umangv/LitHub/">GitHub</a> and run a LitHub of their own.</p>
<p>Copyright &copy; 2010, 2011 Kalamazoo College Computer Science Club</p>
</div>
<div id="twocol_side">
    <h2>Features</h2>
    <ul class="features">
        <li>Facebook integration: one click login (no username or password); register in under 20 seconds!</li>
        <li>Google book preview: "look" at (and even inside) a book before you buy! (Available for many books)</li>
        <li><span class="new">NEW</span> Subscribe to a book and be notified when copies of the book are listed for sale.</li>
        <li>ISBN lookup: auto-populated book information based on the ISBN when you sell a book.</li>
        <li>HTML5 speech recognition on search forms (currently only on Google Chrome)</li>
        <li>Restricted to K college students</li>
    </ul>
</div>
{% endblock %}
