{% extends "base.html" %}
<!--
    Copyright © 2012 Kalamazoo College Computer Science Club
    <kzoo-cs-board@googlegroups.com>

    This file is part of LitHub.

    LitHub is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    LitHub is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with LitHub.  If not, see <http://www.gnu.org/licenses/>.
-->
{% block nav_profile %}selected{% endblock %}
{% block title %}Forbidden{% endblock %}
{% block content %}
<h1>Open sesame?</h1>
<p>Sorry, if you had access to the top-secret page, you wouldn't be reading this.</p>
<h2>"So, what does this do?" I hear you ask.</h2>
<p>It's not all that confidential (after all, LitHub is open-source). This page lets those of us who run Kzoo LitHub mess with the knobs, buttons, and levers to check if everything is working properly. LitHub uses a few different technologies to give you all the awesome features that you love. LitHub finds books using Google Books, sends emails using an email service, lets you log in using Facebook, etc. This page automatically tests if everything is working properly.</p>
<p>If you have any questions, please use the <a href="{% url bookswap.views.contact_us %}">contact page</a> to send us an email!</p>
{% endblock %}
