{% extends "base.html" %}
<!--
    Copyright © 2010, 2011 Kalamazoo College Computer Science Club
    <kzoo-cs-board@googlegroups.com>

    This file is part of LitHub.

    LitHub is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    LitHub is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with LitHub.  If not, see <http://www.gnu.org/licenses/>.
-->
{% block nav_profile %}selected{% endblock %}
{% block title %}Unlist a book{% endblock %}
{% block content %}
<div id="onecol_main">
<h2>Unlist a book</h2>
<p>Are you sure you want to unlist this book?</p>
<form action="" method="post">
    {% csrf_token %}
<table class="generic_table">
    <tr>
        <th>Title </th><td>{{copy.book.title}}</td>
    </tr>
    <tr>
        <th>Author </th><td>{{copy.book.author}}</td>
    </tr>
    <tr>
        <th>Price </th><td>${{copy.price|floatformat:2}}</td>
    </tr>
    <tr>
        <th>Condition </th><td>{{copy.condition}}</td>
    </tr>
    <tr>
        <th>Comments </th><td>{{copy.comments}}</td>
    </tr>
    <tr>
        <td></td><td><input type="submit" value="Delete"/></td></tr>
</table>
</form>
</div>
{% endblock %}
