{% extends "base.html" %}
<!--
    Copyright © 2010, 2011 Kalamazoo College Computer Science Club
    <kzoo-cs-board@googlegroups.com>

    This file is part of LitHub.

    LitHub is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    LitHub is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with LitHub.  If not, see <http://www.gnu.org/licenses/>.
-->
{% block nav_profile %}selected{% endblock %}
{% block title %}My Account{% endblock %}
{% block content %}
<p>Welcome, <b>{{user.username}}</b>!</p>
<p>The following are books that you've posted for sale:</p>
<div id="twocol_main">
<table class="booklist">
    <thead>
        <th style="width:450px;">Book</th><th>Price</th><th>Condition</th><th>Actions</th>
    </thead>
    {% for copy in copies %}
    <tr>
        <td><a href="{% url bookswap.views.book_details copy.book.id %}"><i>{{copy.book.title}}</i> by <i>{{copy.book.author}}</i></a></td>
        <td>${{copy.price|floatformat:2}}</td>
        <td>{{copy.condition}}</td>
        <td><a href="{% url bookswap.views.mark_sold copy.id %}">Mark sold</a> <a href="{% url bookswap.views.edit_copy copy.id %}">Edit</a></td>
    </tr>
    {% endfor %}
</table>
</div>
<div id="twocol_side">
<p>Manage your account:</p>
<ul id="account_sidelinks">
    <li><a href="{% url password_change %}">Change your password</a></li>
    <li><a href="{% url fbconnect.views.assoc_with_curr_user_redir %}">Associate LitHub and facebook accounts</a></li>
    <li><a href="{% url bookswap.views.dissoc_fb %}">Dissociate LitHub and facebook accounts</a></li>
    <li><a href="{% url bookswap.views.delete_account %}">Delete your account</a></li>
</ul>
</div>
{% endblock %}
