{% extends "base.html" %}
<!--
    Copyright © 2010, 2011 Kalamazoo College Computer Science Club
    <kzoo-cs-board@googlegroups.com>

    This file is part of LitHub.

    LitHub is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    LitHub is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with LitHub.  If not, see <http://www.gnu.org/licenses/>.
-->
{% block nav_search %}selected{% endblock %}
{% block title %}Search for a book{% endblock %}
{% block content %}
<div id="form">
    <p>Enter any part of the title and/or the author of the book you are trying to find and hit "Search".</p>
    <form action="" method="get">
        <p><label for="title">Title:</label><input type="text" id="title" name="title"/></p>
        <p><label for="author">Author:</label><input type="text" id="author" name="author"/> </p>
        <input type="submit" value="Search"/>
    </form>
    <p>Alternatively, you can enter the book's ISBN below.</p>
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" id="action" name="action" value="isbn_search"/></p>
        <p><label for="isbn">ISBN:</label><input type="text" id="isbn" name="isbn"/> </p>
        <input type="submit" value="Search"/>
    </form>
</div>
{% endblock %}
