{% extends "base.html" %}
<!--
    Copyright © 2010, 2011 Kalamazoo College Computer Science Club
    <kzoo-cs-board@googlegroups.com>

    This file is part of LitHub.

    LitHub is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    LitHub is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with LitHub.  If not, see <http://www.gnu.org/licenses/>.
-->
{% block nav_sell %}selected{% endblock %}
{% block title %}Sell a book{% endblock %}
{% block content %}
<div id="form">
    <p>By listing your book on the Kzoo LitHub, you can find other 'K' students who might be interested in buying your book from you.</p>
    <p>Enter the ISBN number of the book you are trying to sell. We need the ISBN to find information about the book.</p>
    <form method="post" action="">
        {% csrf_token %}
        <p><label for="isbn">ISBN:</label><input type="text" id="isbn" name="isbn"/></p>
        <input type="submit" value="Find information"/>
    </form>
</div>
{% endblock %}
