{% extends "base.html" %}
<!--
    Copyright © 2010, 2011 Kalamazoo College Computer Science Club
    <kzoo-cs-board@googlegroups.com>

    This file is part of LitHub.

    LitHub is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    LitHub is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with LitHub.  If not, see <http://www.gnu.org/licenses/>.
-->
{% block title %}Sell book - Step Two{% endblock %}
{% block nav_sell %}selected{% endblock %}
{% block content %}
<div id="onecol_main">
    <h2>Sell a book on Kzoo LitHub</h2>
    <p>Enter the details below to list your book on Kzoo LitHub.</p>
    <form action="" method="post">
        {% csrf_token %}
        <table class="generic_table sellform">
            <tr><th><label>ISBN:</label></th><td>{{ book.isbn }}</td></tr>
            <tr><th><label>Book title:</label></th><td>{{ book.title }}</td></tr>
            <tr><th><label>Author:</label></th><td>{{ book.author }}</td></tr>
            <tr><th><label>Copyright:</label></th><td>{{book.copyrightYear}}</td></tr>
            <tr><th><label>Publisher:</label></th><td>{{book.publisher}}</td></tr>
        {{form}}
        <tr><td></td><td><input type="submit" value="List for sale"/></td></tr>
    </form>
</div>
{% endblock %}
