{% extends "base.html" %}
<!--
    Copyright © 2010, 2011 Kalamazoo College Computer Science Club
    <kzoo-cs-board@googlegroups.com>

    This file is part of LitHub.

    LitHub is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    LitHub is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with LitHub.  If not, see <http://www.gnu.org/licenses/>.
-->
{% block nav_sell %}selected{% endblock %}
{% block title %}Sell a book{% endblock %}
{% block content %}
<p>Please select a book from the following list of books. If none of the following books match your book, you may sell a new book.</p>
<table>
    <thead>
        <th>Title</th><th>Author</th><th>Publisher</th><th>ISBN</th>
    </thead>
{% for book in results %}
<tr>
    <td><a href="{% url bookswap.views.sell_existing book.id %}">{{book.title}}</a>  <br/><span class="bookinfo">{{book.num_copies}} copies on sale.</span><br/><span class="bookinfo">{%if book.num_sub %}{{book.num_sub}}{% else %}no{% endif %} subscriber{% if not book.num_sub == 1 %}s{% endif %}.</span></td> 
    <td>{{book.author}}  </td>
    <td>{{book.publisher}}<br/><span class="bookinfo">{% if book.copyrightYear %}(&copy; {{book.copyrightYear}}){% endif %}</span></td>
    <td><span class="isbn">{{book.isbn}}</span></td>
</tr>
{% endfor %}
</table>
<p>
Or <a href="{% url bookswap.views.sell_new isbn_no %}">add a new book to the list.</a></p>
{% endblock %}
