{% extends "base.html" %}
<!--
    Copyright © 2010, 2011 Kalamazoo College Computer Science Club
    <kzoo-cs-board@googlegroups.com>

    This file is part of LitHub.

    LitHub is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    LitHub is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with LitHub.  If not, see <http://www.gnu.org/licenses/>.
-->
{% block nav_sell %}selected{% endblock %}
{% block title %}Sell a book{% endblock %}
{% block content %}
<div id="onecol_main">
    <h2>Sell a book on Kzoo LitHub</h2>
<p>Please select a book from the following list of books. If none of the following books match your book, you may sell a new book.</p>
<table class="booklist">
    <thead>
        <th>Book</th><th>Publisher</th>
    </thead>
{% for book in results %}
<tr>
    <td><a href="{% url bookswap.views.sell_existing book.id %}" target="_blank">{{book.title}}</a> by {{book.author}} <br/><span class="bookinfo">{{book.num_copies}} copies on sale. {%if book.num_sub %}{{book.num_sub}}{% else %}no{% endif %} subscriber{% if not book.num_sub == 1 %}s{% endif %}.</span> <br/>
    <span class="isbn">{{book.isbn}}</span>
    </td> 
    
    <td>{{book.publisher}}<br/><span class="bookinfo">{% if book.copyrightYear %}(&copy; {{book.copyrightYear}}){% endif %}</span></td>
    
</tr>
{% endfor %}
</table>
<p>
Or, if the book you want to list is not in the list above, <a href="{% url bookswap.views.sell_new isbn_no %}">add a new book to the list.</a></p>
</div>
{% endblock %}
